* , html , body{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: 'Open Sans', sans-serif;
    
}
body{
/*    //background-image: url('img/retina_wood.png');*/
    background-color: #eee;
}
.logoImage{
    width: 300px;
    user-select: none; 
}
.logo{
    background-color: white;
    text-align: center;
    padding:20px;
}
.logo a {
    cursor: pointer;
}
h1{
    margin: 50px;
}
h2{
    margin: 50px;
}
p{
    margin-top: -60px;
    text-align: justify;
    padding:50px;  
    font-family: 'Roboto Slab', serif;
}
.underLogo{
    display: inline;
    background-color: white;
    font-size:21px;
    margin:5px;
}

nav{
    background-color: #FF4208;
    padding:20px;
    display:flex;
    justify-content: space-between;
/*    box-shadow: -6px 54px 77px 0px rgba(0,0,0,0.3);*/
}
.hamburger{
    width:35px;
    height:25px;
    border:none;
    background: none;
    border-top: 5px solid #fff;
    display:block;
    position: relative;
	outline-color:#FF4208;
    transition: 0.3s transform linear;
}
.hamburger::before , .hamburger::after{
    position:absolute;
    content: '';
    display:block;
    width:100%;
    top:15px;
    border-top: 5px solid #fff;
    
}
.hamburger::after{
    top:5px;
    transition: 0.3s transform linear;
}
.open{
    transform: rotate(45deg) translateY(-5px);
    border:none;
}
.open::after{
    transform: rotate(-90deg) translateX(-10px);
}
.elements{
    width:100%;
    background-color: #EE3107;
    padding:10px;
    display:none;
    padding-left:0px;
    padding-right:0px;
    text-align: left;
    height:100%;
    transition: opacity 1s ease-io;

}
.elements > a{
    display:flex;
    width:100%;
    background-color: #EE3107;
    text-align: left; 
    color:white;
    text-decoration: none;
    padding-bottom:15px;
    padding-top:15px;
    margin-left:0px;
    width:100%;
    padding-left: 30px;
    border-bottom: 1px solid #FF4208;
}
.offert{
        display:flex;
    width:100%;
    background-color: #EE3107;
    text-align: left; 
    color:white;
    text-decoration: none;
    padding-bottom:15px;
    padding-top:15px;
    margin-left:0px;
    width:100%;
    padding-left: 30px;
    border-bottom: 1px solid #FF4208;
    cursor:pointer;
}
.offert:hover{
    background-color: #DD2006;
}
.elements > a:first-child{
    margin-top:30px;
}
.elements > a:last-child{
    margin-bottom:30px;
}
.elements > a:hover{
    background-color: #DD2006;
}
.container{
    min-height: 70vh;
    padding-bottom:60px;
}
.slider{
    background-color: #ddd;
    padding: 30px 0 30px;
}
.prefooter{
    background-color: #FF4208;
    padding: 30px;
    color:white;
    font-size: 20px;
}
footer{
    background-color: #DD2006;
    padding:30px;
    color:white;
    text-align:center;
    font-weight: bold;
}
.row{
    display:flex;
    justify-content: space-between;
    padding:20px 50px 20px;
}
.row img{
    width:30%;
}
.teknos{
    width:30%;
}
.row2{
    display:flex;
    justify-content: space-between;
    padding:20px 50px 20px;
}
.row2 img{
    width:45%;
}
.sliderLink{
    padding-left:50px;
    padding-right:50px;
    color:black;
    font-weight: 900;
}
.slider{
/*    box-shadow: 3px -43px 77px 0px rgba(0,0,0,0.3);*/
}
.slider  img{
    height:50px;
    margin-left: 50px;
    outline: none;
}
.elements .offertLink{
    padding-left: 70px;
    background-color: #DD2006;
    display:none;
}
.elements .offertLink:hover{
    padding-left: 70px;
    background-color: #CC1005;
    display:none;
}
.emails2
    margin-left:0px;

}
.lineBR{
    display: block;
}.lineBR2{
    display: block;
}
.map{
    width:100%;
}
iframe{
    width:100%;
}
.space {
    font-size:20px;
}
@media(max-width: 768px){
    .row{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .row img{
        width:90%;
    }  
    .teknos{
        width:90%;
    }
    .row2{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .row2 img{
        width:90%;
    }
}
@media(min-width: 900px){
    .emails{
        float:left;
        margin-left: 55px;
    }
    .lineBR{
    display: none;
    }
    .prefooter{
        padding: 30px 30px 30px 100px;
    }
}
@media(min-width: 850px){
    .emails2{
        float:left;
        margin-left: 55px;
    }
    .lineBR2{
    display: none;
    }
    .space{
         display:flex; justify-content: space-between;font-size:25px;
    }
}
